* {
    margin: 0;
    padding: 0;
  
    border: 0;
  }
  
  body {
    padding-top: 1px;
    /*火狐*/
  
    -webkit-user-select: none;
       -moz-user-select: none;
    /*webkit浏览器*/
        -ms-user-select: none;
    /*早期浏览器*/
            user-select: none; 
  
    background: #000;
    /*IE10*/
  
     -khtml-user-select: none;
  }
  
  .wrapper {
    position: relative;
  
    width: 400px;
    height: 800px;
    /*border: 1px solid #ccc;*/
    margin: 0 auto;
  
    /* background: url('http://image.uc.cn/s/uae/g/3o/cms/resource/1658934626893-game-bg.png') center no-repeat; */
    background: url('./back_groud.jpg') center no-repeat;
    background-size: cover;
  }
  
  .wrapper .init-box {
    position: relative; 
  
    width: 100%;
    height: 100%;
  
    /* background: url('http://image.uc.cn/s/uae/g/3o/cms/resource/1658934643940-start-cover.png') center no-repeat; */
    background: url('https://img.freepik.com/free-vector/retro-gaming-poster-template_52683-50969.jpg?w=400') center no-repeat;
    background-size: cover;
  }
  
  .wrapper .init-box .start-btn {
    position: absolute;
    right: 0;
    bottom: 30px;
    left: 0;
  
    width: 149px;
    height: 208px;
    margin: 0 auto;
  
    cursor: pointer;
  }
  
  .wrapper .game-box {
    position: relative; 
  
    width: 100%;
  }
  
  .wrapper .game-box .toolbar {
    font-size: 24px;
    line-height: 92px;
  
    position: relative; 
  
    width: 100%;
    height: 92px;
  
    background: url('http://image.uc.cn/s/uae/g/3o/cms/resource/1658934671471-toolbar3.png') center no-repeat;
    background-size: cover;
  }
  
  .wrapper .game-box .toolbar .time {
    line-height: 34px; 
  
    position: absolute;
    top: 15px;
    left: 80px;
  }
  
  .wrapper .game-box .toolbar .level {
    line-height: 34px; 
  
    position: absolute;
    top: 12px;
    left: 90px;
  
    height: 34px;
  }
  
  .wrapper .game-box .toolbar .level img {
    height: 34px;
  }
  
  .wrapper .game-box .toolbar .disorder {
    position: absolute;
    left: 140px;
  
    width: 120px;
    height: 84px;
  
    cursor: pointer;
  }
  
  .wrapper .game-box .toolbar .disorder img {
    position: absolute;
    top: 40px; 
    right: 0;
  }
  
  .wrapper .game-box .toolbar .scoring {
    line-height: 34px;
  
    position: absolute;
    top: 15px;
    left: 330px;
  
    width: 70px;
    height: 34px;
  
    cursor: pointer;
  }
  
  .wrapper .game-box .toolbar .scoring img {
    height: 34px;
  }
  
  .wrapper .game-box .game-area {
    position: relative;
  }
  
  .wrapper .game-box .game-area table#game {
    border-spacing: 0; 
    border-collapse: collapse;
  }
  
  .wrapper .game-box .game-area table#game .game-row {
    height: 80px;
  }
  
  .wrapper .game-box .game-area table#game .game-row td {
    width: 80px;
    height: 80px;
  
    text-align: center;
    vertical-align: middle;
  }
  
  .wrapper .game-box .game-area table#game .game-row td .pic-box {
    line-height: 64px;
  
    display: inline-block;
  
    width: 64px;
    height: 64px;
  
    cursor: pointer;
  
    /* background: url('http://image.uc.cn/s/uae/g/3o/cms/resource/1658934636393-pic-bg.png') center no-repeat; */
    background: url('./pure.png') center no-repeat;
    background-size: contain;
  }
  
  .wrapper .game-box .game-area table#game .game-row td .pic-box.active {
    width: 80px;
    height: 80px;
  
    border-radius: 16px; 
    background: url(http://image.uc.cn/s/uae/g/3o/cms/resource/1658934622716-active.png) center no-repeat;
    background-size: 124%;
  }
  
  .wrapper .game-box .game-area table#game .game-row td .pic-box img {
    vertical-align: middle;
  }
  
  .wrapper .game-box .game-area #canvas {
    position: absolute;
    left: 0;
    top: 0;
  
    width: 400px;
    height: 560px;
  }
  
  .wrapper .game-over {
    position: absolute;
    top: 0;
  
    width: 400px;
    height: 800px;
  
    /* background: rgba(0, 0, 0, .4) url(http://image.uc.cn/s/uae/g/3o/cms/resource/1658934630739-game-over.png) center no-repeat; */
    /* background: rgba(0, 0, 0, .4) url(./game_over.png) center no-repeat; */
    background: rgba(0, 0, 0, .4) url(https://img.freepik.com/premium-vector/cartoon-retro-arcade-machine-with-game-screen-old-gamer-80s-console-with-buttons-joystick-vector-poster-with-flat-arcade-monitor-illustration-video-console-with-joystick_102902-5288.jpg?w=400) center no-repeat;
    background-size: auto;
  }
  
  .wrapper .game-over .current-score {
    position: absolute;
    top: 320px;
    left: 241px;
  
    width: 350px;
    height: 60px;
  
    text-align: center;
  }
  
  .wrapper .game-over .history-score {
    font-size: 20px; 
  
    position: absolute;
    top: 436px;
    left: 411px;
  
    width: 200px;
    height: 30px;
  
    color: #999;
  }
  
  .wrapper .game-over .replay-btn {
    position: absolute;
    top: 396px;
    left: 300px;
  
    width: 200px;
    height: 30px;
  
    cursor: pointer;
  }
  
  .empty {
    opacity: 0;
  }
  
  .hidden {
    display: none;
  }
  
  .number {
    display: inline-block;
  
    width: 34px; 
    height: 34px;
  
    background-size: contain;
  }
  
  /*# sourceMappingURL=index.css.map */